@import "tailwindcss";

@font-face {
  font-family: "Robo";
  src: url("/fonts/RobotoFlex.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Syne";
  src: url("/fonts/syne.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo-demibold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo-extrabold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 800;
}
@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo-regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo-light.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Grand Bold";
  src: url("/fonts/GrandBold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}

@custom-variant dark (&:where(.dark, .dark *));

/* THEME VARIABLES */

@theme inline {
  --breakpoint-lg: 62rem;

  --color-dark: var(--bg-dark);
  --color-light: var(--bg-light);

  --font-robo: "Robo", "sans-serif", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  --font-inter: "Inter", "sans-serif", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  --font-nippo: "Nippo", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", serif;
  --font-syne: "Syne", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", serif;
  --font-grandbold: "Grand Bold", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    serif;

  --color-100: oklch(99.5% 0 89.876);
  --color-200: oklch(99.457% 0 67.803);
  --color-300: oklch(99.239% 0.001 106.448);
  --color-400: oklch(98.79% 0.002 91.446);
  --color-500: oklch(98.129% 0.004 84.566);
  --color-600: oklch(97.206% 0.006 88.643);
  --color-700: oklch(96.276% 0.008 91.484);
  --color-800: oklch(94.923% 0.009 93.572);
  --color-800: oklch(93.414% 0.011 89.725);
  --color-900: oklch(67.98% 0.009 84.577);
  --color-1000: oklch(46.145% 0.007 88.665);
  --color-1100: oklch(28.351% 0.005 95.162);
  --color-1200: oklch(14.462% 0.003 91.511);

  --color-background: oklch(93.414% 0.011 89.725);
  --color-foreground: oklch(0.2532 0.025 262.731);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.145 0 0);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0 0);
  --color-primary: oklch(23.075% 0 89.876);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.97 0 0);
  --color-secondary-foreground: oklch(0.205 0 0);
  --color-accent: oklch(58.41% 0.201 26.027);
  --color-accent-foreground: oklch(0.205 0 0);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.922 0 0);

  /* NAVIGATION */
  --color-nav-background: oklch(93.414% 0.011 89.725);
  --color-nav-foreground: oklch(0.2532 0.025 262.731);
  --color-nav-primary: oklch(0.205 0 0);
  --color-nav-primary-foreground: oklch(0.985 0 0);
  --color-nav-accent: oklch(0.97 0 0);
  --color-nav-accent-foreground: oklch(0.205 0 0);
  --color-nav-border: oklch(0.922 0 0);

  --ease-fluid: cubic-bezier(0.7, 0, 0.2, 1);
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  @apply bg-background dark:bg-foreground transition-colors duration-300 ease-in-out font-robo;
}

.grain {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.grain:after {
  animation: grain 10s steps(10) infinite;
  background-image: url(../grain.webp);
  content: "";
  height: 400vh;
  left: -200vw;
  position: fixed;
  top: -200vh;
  width: 400vw;
  opacity: 0.4;
}

/* Theme transition overlay animation */
.theme-transition-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: var(--color-dark);
  z-index: 9999; /* Increased to ensure it's above all content */
  animation: slide-up 0.6s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  pointer-events: none;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* MENU BUTTON */
.nav-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}

.nav-wrapper.open {
  transform: rotate(-45deg);
}

.line-menu {
  @apply rounded-full w-full !h-1;
  @apply bg-foreground dark:bg-background;
  transition: transform 800ms cubic-bezier(0.43, 0.43, 0.46, 0.81),
    background-color 800ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.line-menu:nth-child(1) {
  transform-origin: right;
}
.line-menu:nth-child(3) {
  align-self: flex-end;
  transform-origin: left;
}

.open .line-menu:nth-child(1) {
  transform: rotate(-90deg) translateX(2px);
  /* transition: transform 800ms cubic-bezier(0.54, -0.81, 0.57, 0.57); */
}
.open .line-menu:nth-child(3) {
  transform: rotate(-90deg) translateX(-2px);
  /* transition: transform 800ms cubic-bezier(0.54, -0.81, 0.57, 0.57); */
}

.open .line-menu {
  @apply bg-dark;
  @apply bg-foreground dark:bg-background;
}

@utility font-var {
  font-variation-settings: "wght" 740, "wdth" 30.5, "opsz" 114.9, "XOPQ" 88,
    "YOPQ" 77, "XTRA" 504;
}

.mask {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
.mask-squircle {
  mask-image: url("data:image/svg+xml,%3csvg width='200' height='200' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0Z'/%3e%3c/svg%3e");
}

.char {
  display: inline-block;
}

.char-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 0.8;
}

/* HERO SECTION */
.hero-heading {
  font-size: clamp(1.8rem, calc(1vw + 1rem), 5rem);
}

/* AESTERICK SYMBOL */

.asterisk-container {
  position: relative;
}

.asterisk-line {
  position: absolute;
  width: 10%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: center bottom;
}

/* Each line rotated by 360/13 = 27.69 degrees */
.asterisk-line:nth-child(1) {
  transform: translate(-50%, -100%) rotate(0deg);
}
.asterisk-line:nth-child(2) {
  transform: translate(-50%, -100%) rotate(27.69deg);
}
.asterisk-line:nth-child(3) {
  transform: translate(-50%, -100%) rotate(55.38deg);
}
.asterisk-line:nth-child(4) {
  transform: translate(-50%, -100%) rotate(83.07deg);
}
.asterisk-line:nth-child(5) {
  transform: translate(-50%, -100%) rotate(110.76deg);
}
.asterisk-line:nth-child(6) {
  transform: translate(-50%, -100%) rotate(138.45deg);
}
.asterisk-line:nth-child(7) {
  transform: translate(-50%, -100%) rotate(166.14deg);
}
.asterisk-line:nth-child(8) {
  transform: translate(-50%, -100%) rotate(193.83deg);
}
.asterisk-line:nth-child(9) {
  transform: translate(-50%, -100%) rotate(221.52deg);
}
.asterisk-line:nth-child(10) {
  transform: translate(-50%, -100%) rotate(249.21deg);
}
.asterisk-line:nth-child(11) {
  transform: translate(-50%, -100%) rotate(276.9deg);
}
.asterisk-line:nth-child(12) {
  transform: translate(-50%, -100%) rotate(304.59deg);
}
.asterisk-line:nth-child(13) {
  transform: translate(-50%, -100%) rotate(332.28deg);
}

.marquee-item {
  display: inline-block;
}

/* GALLERY */

.div-block-100 {
  aspect-ratio: 1 !important;
  border-radius: var(--radius--round);
  flex: none;
  width: 4.6em;
}

.div-block-100.dennis {
  background-image: url("https://cdn.prod.website-files.com/672dc217e27ecc7b1096daa2/672e48de93fc293bc3df43de_dennis-m-mika-web-design-eh.webp");
  background-position: 50%;
  background-size: cover;
}

.div-block-100.ari {
  background-image: url("https://cdn.prod.website-files.com/672dc217e27ecc7b1096daa2/672e0a30b1f35afa9cefa5ee_ari-p-mika-web-design.webp");
  background-position: 50%;
  background-size: cover;
}

@media (max-width: 768px) {
  .div-block-100 {
    width: 3em;
    height: 3em;
  }
}

.testimonials_highlights {
  flex-flow: column;
  flex: none;
  justify-content: center;
  align-items: stretch;
  /* width: 33ch;
  height: 100%; */
  display: flex;
  position: relative;
}

.testimonial_hero {
  --space--6: var(--size--2rem);
  --size--0-5rem: 0.5rem;
  --size--1rem: 1rem;
  --space--2: var(--size--0-5rem);
  --space--1: var(--size--0-25rem);
  --container--main: 0px;
  --section-space--main: var(--size--7rem);
  --size--3-5rem: 3.5rem;
  --container--small: 0px;
  --container--full: 0px;
  --site--gutter: 1rem;
  --size--0rem: 0rem;
  --space--3: var(--size--0-75rem);
  --space--4: var(--size--1rem);
  --space--7: var(--size--3rem);
  --space--8: var(--size--4rem);
  --radius--small: 0.5rem;
  --radius--main: 1rem;
  --radius--round: 100vw;
  --border-width--main: 0.094rem;
  --theme--border: white;
  --size--0-75rem: 0.75rem;
  --line-height--1em: 1em;
  --swatch--transparent: #fff0;
  --size--1-5rem: 1.5rem;
  --swatch--brand: #f45926;
  --size--3rem: 3rem;
  padding: var(--space--2) var(--space--4) var(--space--2) var(--space--2);
  grid-column-gap: var(--site--gutter);
  grid-row-gap: var(--site--gutter);
  justify-content: flex-start;
  align-items: stretch;
  /* width: 363.781px; */
  display: flex;
  position: absolute;
}

.testimonial_hero.ari {
  z-index: 1;
  display: flex;
  top: -5.8em;
}

.testimonial_hero.dennis {
  z-index: 0;
  top: 0.1em;
}

.div-block-101 {
  grid-column-gap: var(--space--3);
  grid-row-gap: var(--space--3);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}
.small_paragraph--tw1 {
  /* font-size: 0.75rem; */
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.quote_mark {
  position: absolute;
  left: -0.6em;
}

.link_cta_container {
  text-decoration: none;
  position: relative;
}

.link_cta {
  font-family: Metropolis, sans-serif;
  font-weight: 500;
  @apply text-foreground dark:text-background;
}

.link_underline {
  transform-origin: 0%;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -0.2em;
  left: 0;
  @apply bg-accent;
}
/* .link_cta_container:hover .link_underline {
  width: 100%;
  transition: width 300ms var(--ease-fluid);
} */

.link_cta_container:hover .link_cta {
  width: 100%;
  transition: width 300ms var(--ease-fluid), color 300ms var(--ease-fluid);
  @apply text-accent;
}

/* STACKING CARDS */
.card-wrapper {
  width: 100%;
  perspective: 900px;
  margin-bottom: 50px;
}
.card-wrapper:last-child {
  margin-bottom: 0;
}

.cards {
  width: 100%;
  padding: 0 20px;
}

.card {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 30px; */
  border-radius: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.card {
  border-radius: 50px;
  width: 100%;
  background-image: url("https://assets.codepen.io/16327/portrait-pattern-1.jpg");
}

.card.two {
  width: 100%;
  background-image: url("https://assets.codepen.io/16327/portrait-pattern-2.jpg");
}

.card.three {
  width: 100%;
  background-image: url("https://assets.codepen.io/16327/portrait-pattern-3.jpg");
}

.card.four {
  width: 100%;
  background-image: url("https://assets.codepen.io/16327/portrait-pattern-4.jpg");
}
/* 
@media (min-width: 768px) {
  .cards {
    width: 80%;
    padding: 0 30px;
  }
}

@media (min-width: 1024px) {
  .cards {
    width: 70%;
    padding: 0 50px;
  }
} */

.works-card-clip {
  width: 800px;
  height: 500px;
  clip-path: path(
    "M733.472 132.173c0 16.73 0 25.095 2.496 32.696a50 50 0 0 0 6.37 12.825c4.549 6.582 11.214 11.636 24.545 21.744s19.997 15.162 24.545 21.744a50 50 0 0 1 6.371 12.825c2.496 7.601 2.496 15.966 2.496 32.696v133.568c0 47.14 0 70.71-14.645 85.355s-38.215 14.645-85.355 14.645H447.861c-16.764 0-25.146 0-32.594-2.389a50 50 0 0 1-20.486-12.661c-5.468-5.594-9.216-13.091-16.713-28.086s-11.246-22.491-16.714-28.085a50 50 0 0 0-20.486-12.661C333.42 414 325.038 414 308.274 414H100.295c-47.14 0-70.71 0-85.355-14.645S.295 361.14.295 314V137.652c0-43.892 0-65.838 12.835-80.1a50 50 0 0 1 3.717-3.717C31.108 41 53.055 41 96.947 41h23.624a50 50 0 0 0 40.182-20.365l.11-.149A50 50 0 0 1 200.935.271h432.537c47.14 0 70.71 0 85.355 14.644s14.645 38.215 14.645 85.356z"
  );
}

@media (max-width: 991px) {
  .works-card-clip {
    width: 500px;
    height: 312.5px;
    clip-path: path(
      "M458.235 82.439c0 6.19 0 9.284.432 12.199a40 40 0 0 0 10.991 22.127c2.062 2.105 4.528 3.975 9.46 7.714s7.398 5.61 9.459 7.715a40 40 0 0 1 10.991 22.127c.432 2.915.432 6.009.432 12.199v65.98c0 37.712 0 56.569-11.716 68.284S457.712 312.5 420 312.5H279.728c-5.233 0-7.85 0-10.262-.294a40 40 0 0 1-28.506-17.618c-1.342-2.026-2.512-4.366-4.853-9.047s-3.51-7.022-4.852-9.048a40 40 0 0 0-28.506-17.618c-2.412-.294-5.029-.294-10.263-.294H80c-37.712 0-56.568 0-68.284-11.716S0 216.293 0 178.581v-73.125c0-37.712 0-56.568 11.716-68.284S42.288 25.456 80 25.456h19.65c1.092 0 1.638 0 2.164-.014a40 40 0 0 0 26.703-11.182c.379-.365.762-.754 1.527-1.532a86 86 0 0 1 1.528-1.531A40 40 0 0 1 158.275.014C158.801 0 159.347 0 160.438 0h225.208c30.562 0 45.842 0 56.474 7.913a40 40 0 0 1 8.202 8.203c7.913 10.63 7.913 25.912 7.913 56.473z"
    );
  }
}
@media (max-width: 768px) {
  .works-card-clip {
    width: 400px;
    height: 250px;
    clip-path: path(
      "M368.588 66.672c0 5.219 0 7.829.409 10.28a30 30 0 0 0 7.778 15.66c1.707 1.807 3.786 3.384 7.945 6.537s6.239 4.73 7.945 6.537a30 30 0 0 1 7.779 15.66c.409 2.451.409 5.061.409 10.28V190c0 28.284 0 42.426-8.787 51.213S369.137 250 340.853 250H224.785c-5.383 0-8.075 0-10.542-.414a30 30 0 0 1-19.271-11.911c-1.474-2.021-2.678-4.428-5.085-9.243s-3.611-7.222-5.085-9.243a30 30 0 0 0-19.272-11.91c-2.467-.415-5.158-.415-10.541-.415H60.852c-28.284 0-42.426 0-51.213-8.787C.853 189.291.853 175.149.853 146.864v-66.5c0-28.284 0-42.426 8.786-51.213 8.787-8.787 22.93-8.787 51.214-8.787H93.41c3.643 0 5.465 0 7.22-.207a30 30 0 0 0 13.797-5.297c1.443-1.02 2.797-2.24 5.504-4.678s4.061-3.657 5.504-4.677A30 30 0 0 1 139.233.208C140.988 0 142.809 0 146.453 0h164.064c26.412 0 39.619 0 48.186 7.743a30 30 0 0 1 2.142 2.141c7.743 8.568 7.743 21.774 7.743 48.187z"
    );
  }
}
.is-dragging {
  cursor: grabbing;
}

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.5);
} */

.section-heading {
  @apply text-[clamp(2rem,18vw,350px)] leading-[clamp(2rem,15vw,300px)] font-grandbold;
}
.section-sub-heading {
  @apply text-[clamp(2rem,10vw,190px)] leading-[clamp(2rem,8.5vw,170px)] font-grandbold;
}
.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-stroke-color);
  color: transparent;
}
