@font-face {
  font-family: "Robo";
  src: url("/fonts/RobotoFlex.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Heming";
  src: url("/fonts/Heming.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "playground";
  src: url("/fonts/Script.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Grand Bold";
  src: url("/fonts/GrandBold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}


@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* THEME VARIABLES */

@theme inline {
  --breakpoint-lg: 62rem;

  --color-dark: var(--bg-dark);
  --color-light: var(--bg-light);

  --font-robo: "Robo", "sans-serif", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  --font-inter: "Inter", "sans-serif", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  --font-mono: "Heming", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", serif;
  --font-playground: "playground", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    serif;
  --font-grandbold: "Grand Bold", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    serif;

  --color-brand-100: oklch(99.5% 0 89.876);
  --color-brand-200: oklch(99.457% 0 67.803);
  --color-brand-300: oklch(99.239% 0.001 106.448);
  --color-brand-400: oklch(98.79% 0.002 91.446);
  --color-brand-500: oklch(98.129% 0.004 84.566);
  --color-brand-600: oklch(97.206% 0.006 88.643);
  --color-brand-700: oklch(90% 0.008 91.484);
  --color-brand-800: oklch(75% 0.011 89.725);
  --color-brand-900: oklch(60% 0.009 84.577);
  --color-brand-1000: oklch(45% 0.007 88.665);
  --color-brand-1100: oklch(30% 0.005 95.162);
  --color-brand-1200: oklch(15% 0.003 91.511);

  --color-background: oklch(93.414% 0.011 89.725);
  --color-foreground: oklch(0.2532 0.025 262.731);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.145 0 0);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0 0);
  --color-primary: oklch(23.075% 0 89.876);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.97 0 0);
  --color-secondary-foreground: oklch(0.205 0 0);
  --color-accent: oklch(58.41% 0.201 26.027);
  --color-accent-foreground: oklch(0.205 0 0);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.922 0 0);

  /* NAVIGATION */
  --color-nav-background: oklch(93.414% 0.011 89.725);
  --color-nav-foreground: oklch(0.2532 0.025 262.731);
  --color-nav-primary: oklch(0.205 0 0);
  --color-nav-primary-foreground: oklch(0.985 0 0);
  --color-nav-accent: oklch(0.97 0 0);
  --color-nav-accent-foreground: oklch(0.205 0 0);
  --color-nav-border: oklch(0.922 0 0);

  --ease-fluid: cubic-bezier(0.7, 0, 0.2, 1);
  --ease-menu: cubic-bezier(0.25, 1, 0.5, 1);

  --animate-floating: floating 3s ease-in-out infinite;

  @keyframes floating {
    0% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-50%, -55%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  text-rendering: optimizeLegibility;
  @apply antialiased  bg-background dark:bg-foreground transition-colors duration-300 ease-in-out font-robo;
}

.grain {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  /* color: #0000006c; */
}
.grain:after {
  animation: grain 10s steps(10) infinite;
  background-image: url(../grain.webp);
  content: "";
  height: 400vh;
  left: -200vw;
  position: fixed;
  top: -200vh;
  width: 400vw;
  opacity: 0.4;
}

/* Theme transition overlay animation */
.theme-transition-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: var(--color-dark);
  z-index: 9999; /* Increased to ensure it's above all content */
  animation: slide-up 0.6s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  pointer-events: none;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* MENU BUTTON */
.nav-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}

.nav-wrapper.open {
  transform: rotate(-45deg);
}

.line-menu {
  @apply rounded-full w-full !h-1;
  @apply bg-foreground dark:bg-background;
  transition: transform 800ms cubic-bezier(0.43, 0.43, 0.46, 0.81),
    background-color 800ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.line-menu:nth-child(1) {
  transform-origin: right;
}
.line-menu:nth-child(3) {
  align-self: flex-end;
  transform-origin: left;
}

.open .line-menu:nth-child(1) {
  transform: rotate(-90deg) translateX(2px);
}

.open .line-menu:nth-child(3) {
  transform: rotate(-90deg) translateX(-2px);
}

.open .line-menu {
  @apply bg-foreground dark:bg-background;
}

@utility font-var {
  font-variation-settings: "wght" 740, "wdth" 30.5, "opsz" 114.9, "XOPQ" 88,
    "YOPQ" 77, "XTRA" 504;
}

.mask {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
.mask-squircle {
  mask-image: url("data:image/svg+xml,%3csvg width='200' height='200' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0Z'/%3e%3c/svg%3e");
}

.char {
  display: inline-block;
}

.char-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 0.8;
}

/* HERO SECTION */
.hero-heading {
  font-size: clamp(1.8rem, calc(1vw + 1rem), 5rem);
}

/* ASTERISK SYMBOL */
.asterisk-container {
  position: relative;
}

.asterisk-line {
  position: absolute;
  width: 10%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: center bottom;
}

.asterisk-line:nth-child(1) {
  transform: translate(-50%, -100%) rotate(0deg);
}
.asterisk-line:nth-child(2) {
  transform: translate(-50%, -100%) rotate(27.69deg);
}
.asterisk-line:nth-child(3) {
  transform: translate(-50%, -100%) rotate(55.38deg);
}
.asterisk-line:nth-child(4) {
  transform: translate(-50%, -100%) rotate(83.07deg);
}
.asterisk-line:nth-child(5) {
  transform: translate(-50%, -100%) rotate(110.76deg);
}
.asterisk-line:nth-child(6) {
  transform: translate(-50%, -100%) rotate(138.45deg);
}
.asterisk-line:nth-child(7) {
  transform: translate(-50%, -100%) rotate(166.14deg);
}
.asterisk-line:nth-child(8) {
  transform: translate(-50%, -100%) rotate(193.83deg);
}
.asterisk-line:nth-child(9) {
  transform: translate(-50%, -100%) rotate(221.52deg);
}
.asterisk-line:nth-child(10) {
  transform: translate(-50%, -100%) rotate(249.21deg);
}
.asterisk-line:nth-child(11) {
  transform: translate(-50%, -100%) rotate(276.9deg);
}
.asterisk-line:nth-child(12) {
  transform: translate(-50%, -100%) rotate(304.59deg);
}
.asterisk-line:nth-child(13) {
  transform: translate(-50%, -100%) rotate(332.28deg);
}

/* VIDEO CAROUSEL LOOP */
.div-block-100 {
  aspect-ratio: 1 !important;
  flex: none;
  width: 4.6em;
  @apply rounded-full;
}

@media (max-width: 768px) {
  .div-block-100 {
    width: 3em;
    height: 3em;
  }
}

/* TESTIMONIALS HIGHLIGHTS */
.testimonials_highlights {
  flex-flow: column;
  flex: none;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
}

.testimonial_hero {
  --space--2: 0.5rem;
  --space--3: 0.75rem;
  --space--4: 1rem;
  --site--gutter: 1rem;
  padding: var(--space--2) var(--space--4) var(--space--2) var(--space--2);
  grid-column-gap: var(--site--gutter);
  grid-row-gap: var(--site--gutter);
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: absolute;
}

.div-block-101 {
  grid-column-gap: var(--space--3);
  grid-row-gap: var(--space--3);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}
.small_paragraph--tw1 {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.quote_mark {
  position: absolute;
  left: -0.6em;
}

.link_cta_container {
  text-decoration: none;
  position: relative;
}

.link_cta {
  font-family: Metropolis, sans-serif;
  font-weight: 500;
  @apply text-foreground dark:text-background;
}

.link_underline {
  transform-origin: 0%;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -0.2em;
  left: 0;
  @apply bg-accent;
}

.link_cta_container:hover .link_cta {
  width: 100%;
  transition: width 300ms var(--ease-fluid), color 300ms var(--ease-fluid);
  @apply text-accent;
}

/* WORKS CARDS */
.works-card-clip {
  width: 800px;
  height: 500px;
  clip-path: path(
    "M733.472 132.173c0 16.73 0 25.095 2.496 32.696a50 50 0 0 0 6.37 12.825c4.549 6.582 11.214 11.636 24.545 21.744s19.997 15.162 24.545 21.744a50 50 0 0 1 6.371 12.825c2.496 7.601 2.496 15.966 2.496 32.696v133.568c0 47.14 0 70.71-14.645 85.355s-38.215 14.645-85.355 14.645H447.861c-16.764 0-25.146 0-32.594-2.389a50 50 0 0 1-20.486-12.661c-5.468-5.594-9.216-13.091-16.713-28.086s-11.246-22.491-16.714-28.085a50 50 0 0 0-20.486-12.661C333.42 414 325.038 414 308.274 414H100.295c-47.14 0-70.71 0-85.355-14.645S.295 361.14.295 314V137.652c0-43.892 0-65.838 12.835-80.1a50 50 0 0 1 3.717-3.717C31.108 41 53.055 41 96.947 41h23.624a50 50 0 0 0 40.182-20.365l.11-.149A50 50 0 0 1 200.935.271h432.537c47.14 0 70.71 0 85.355 14.644s14.645 38.215 14.645 85.356z"
  );
}

@media (max-width: 991px) {
  .works-card-clip {
    width: 500px;
    height: 312.5px;
    clip-path: path(
      "M458.235 82.439c0 6.19 0 9.284.432 12.199a40 40 0 0 0 10.991 22.127c2.062 2.105 4.528 3.975 9.46 7.714s7.398 5.61 9.459 7.715a40 40 0 0 1 10.991 22.127c.432 2.915.432 6.009.432 12.199v65.98c0 37.712 0 56.569-11.716 68.284S457.712 312.5 420 312.5H279.728c-5.233 0-7.85 0-10.262-.294a40 40 0 0 1-28.506-17.618c-1.342-2.026-2.512-4.366-4.853-9.047s-3.51-7.022-4.852-9.048a40 40 0 0 0-28.506-17.618c-2.412-.294-5.029-.294-10.263-.294H80c-37.712 0-56.568 0-68.284-11.716S0 216.293 0 178.581v-73.125c0-37.712 0-56.568 11.716-68.284S42.288 25.456 80 25.456h19.65c1.092 0 1.638 0 2.164-.014a40 40 0 0 0 26.703-11.182c.379-.365.762-.754 1.527-1.532a86 86 0 0 1 1.528-1.531A40 40 0 0 1 158.275.014C158.801 0 159.347 0 160.438 0h225.208c30.562 0 45.842 0 56.474 7.913a40 40 0 0 1 8.202 8.203c7.913 10.63 7.913 25.912 7.913 56.473z"
    );
  }
}
@media (max-width: 768px) {
  .works-card-clip {
    width: 400px;
    height: 250px;
    clip-path: path(
      "M368.588 66.672c0 5.219 0 7.829.409 10.28a30 30 0 0 0 7.778 15.66c1.707 1.807 3.786 3.384 7.945 6.537s6.239 4.73 7.945 6.537a30 30 0 0 1 7.779 15.66c.409 2.451.409 5.061.409 10.28V190c0 28.284 0 42.426-8.787 51.213S369.137 250 340.853 250H224.785c-5.383 0-8.075 0-10.542-.414a30 30 0 0 1-19.271-11.911c-1.474-2.021-2.678-4.428-5.085-9.243s-3.611-7.222-5.085-9.243a30 30 0 0 0-19.272-11.91c-2.467-.415-5.158-.415-10.541-.415H60.852c-28.284 0-42.426 0-51.213-8.787C.853 189.291.853 175.149.853 146.864v-66.5c0-28.284 0-42.426 8.786-51.213 8.787-8.787 22.93-8.787 51.214-8.787H93.41c3.643 0 5.465 0 7.22-.207a30 30 0 0 0 13.797-5.297c1.443-1.02 2.797-2.24 5.504-4.678s4.061-3.657 5.504-4.677A30 30 0 0 1 139.233.208C140.988 0 142.809 0 146.453 0h164.064c26.412 0 39.619 0 48.186 7.743a30 30 0 0 1 2.142 2.141c7.743 8.568 7.743 21.774 7.743 48.187z"
    );
  }
}
.is-dragging {
  cursor: grabbing;
}

.section-heading {
  @apply text-[clamp(2rem,18vw,350px)] leading-[clamp(2rem,15vw,300px)] font-grandbold;
}
.section-sub-heading {
  @apply text-[clamp(2rem,10vw,140px)] leading-[clamp(2rem,8.5vw,135px)] font-grandbold;
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-stroke-color);
  color: transparent;
}

.service-card {
  --ratio: 314 / 438;
  --width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1000px;
  width: 100%;
  aspect-ratio: var(--ratio);
  max-width: var(--width);
  height: var(--height);
}

.service-card-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.flip-service-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-service-card-front,
.flip-service-card-back {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-service-card-back {
  transform: rotateY(180deg);
}

.services_section,
.about-section {
  transition: 0s;
}

.subtle-shadow {
  box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12),
    0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}

.isolate_svg {
  isolation: isolate;
}

.perspective-distantt {
  perspective: 1800px;
  perspective-origin: bottom;
}

.testimonial-image {
  position: absolute;
  width: 240px;
  max-height: 320px;
  object-fit: cover;
  border-radius: 10rem;
  corner-shape: squircle;
  transform-style: preserve-3d;
  will-change: transform, filter;
  filter: blur(0px) drop-shadow(0 10px 20px rgba(0, 0, 0, 0.15));
  transition: filter 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  @apply border border-foreground/30;
}

.quote .word {
  display: inline-block;
  opacity: 1;
  will-change: transform, opacity, filter;
  filter: blur(0px);
}

.custom-shadow {
  --shadow-color: 0deg 255% 0%;
  --shadow-elevation-high: 0px -0.2px 0.2px hsl(var(--shadow-color) / 0.32),
    -0.1px -1.3px 1.5px -0.3px hsl(var(--shadow-color) / 0.32),
    -0.1px -2.3px 2.6px -0.6px hsl(var(--shadow-color) / 0.32),
    -0.2px -3.5px 3.9px -0.8px hsl(var(--shadow-color) / 0.32),
    -0.3px -5.1px 5.7px -1.1px hsl(var(--shadow-color) / 0.32),
    -0.4px -7.3px 8.2px -1.4px hsl(var(--shadow-color) / 0.32),
    -0.6px -10.5px 11.8px -1.7px hsl(var(--shadow-color) / 0.32),
    -0.8px -14.6px 16.4px -1.9px hsl(var(--shadow-color) / 0.32),
    -1.1px -20.1px 22.6px -2.2px hsl(var(--shadow-color) / 0.32),
    -1.5px -27.2px 30.6px -2.5px hsl(var(--shadow-color) / 0.32);
  box-shadow: var(--shadow-elevation-high);
}

@supports (corner-shape: squircle) {
  .squircle {
    corner-shape: squircle;
  }

  .squircle.rounded-lg {
    border-radius: 2rem;
  }
  .squircle.rounded-2xl {
    border-radius: 2rem;
  }
  .squircle.rounded-3xl {
    border-radius: 3rem;
  }
  .squircle.rounded-4xl {
    border-radius: 4rem;
  }
  .squircle.rounded-5xl {
    border-radius: 5rem;
    corner-shape: superellipse(1.65);
  }
}

/* 3D GALLERY CAROUSEL */
.gallery_box_in a {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 1.5rem;
  margin: auto;
  color: #ffffff;
  font-family: var(--font-robo);
}

.gallery_box_in h3 {
  margin: auto;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.gallery_box {
  transform-style: preserve-3d;
}

.gallery_box_outer {
  position: relative;
  transform-style: preserve-3d;
}

.gallery_box_in {
  position: absolute;
  background-position: center center;
  background-size: cover;
  will-change: transform;
}

@utility text-stroke-* {
  -webkit-text-stroke-width: --value(integer) px;
  -webkit-text-stroke-color: --value(--color- *);
}

/* MetricsCarousel.css */

.metrics-carousel {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: -61px;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  transform: none;
}

.carousel-container {
  perspective: 2000px;
  perspective-origin: 50%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 350px;
  position: relative;
  transform: rotate(-6deg);
}

.carousel-wrapper {
  perspective: 2000px;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate3d(0, 0, 1500px) rotateX(0) rotateY(-129deg) rotateZ(0);
  will-change: transform;
}

.metric-card {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transform-style: preserve-3d;
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 405px;
  height: 320px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  box-shadow: 0 -1px #9c68ca;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 30px;
}

.metric-label {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: white;
}

.metric-value {
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(145deg, #fff, #fff0);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 16px;
  font-size: 53px;
  font-weight: 500;
  line-height: 1;
}

.progress-bar {
  background-color: #421370;
  border-radius: 43.59px;
  display: flex;
  align-items: center;
  width: 65%;
  height: 10px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.progress-fill {
  background-image: linear-gradient(135deg, #8e5bb7, #6d4a8b);
  border-radius: 43.59px;
  height: 10px;
  transition: width 0.3s ease;
}

.category-label {
  color: #a087b7;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.company-name {
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(165deg, #fff, #fff0);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 5px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
  .metrics-carousel {
    margin-top: 0;
  }

  .carousel-container {
    width: 450px;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .metrics-carousel {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .carousel-container {
    transform: scale(0.6) rotate(-6deg);
  }

  .carousel-wrapper {
    height: 55vh;
  }
}

@media screen and (max-width: 480px) {
  .metrics-carousel {
    margin-top: -76px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .carousel-container {
    height: 480px;
    margin-top: -20%;
  }

  .carousel-wrapper {
    z-index: 200;
    margin-top: 190px;
  }
}

@media screen and (max-width: 320px) {
  .carousel-container {
    height: 450px;
    margin-top: -40px;
    transform: scale3d(0.4, 0.4, 0.4) rotate(-6deg);
  }

  .carousel-wrapper {
    z-index: 10;
  }
}
