@import "tailwindcss";

@font-face {
  font-family: "Robo";
  src: url("/fonts/RobotoFlex.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Syne";
  src: url("/fonts/syne.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo-demibold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo-extrabold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 800;
}
@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo-regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo-light.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}

@custom-variant dark (&:where(.dark, .dark *));

/* THEME VARIABLES */
:root {
  --background: oklch(93.414% 0.011 89.725);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(23.075% 0 89.876);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --accent: oklch(60.661% 0.21 33.781);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);

  /* NAVIGATION */
  --nav-background: oklch(0.985 0 0);
  --nav-foreground: oklch(0.145 0 0);
  --nav-primary: oklch(0.205 0 0);
  --nav-primary-foreground: oklch(0.985 0 0);
  --nav-accent: oklch(0.97 0 0);
  --nav-accent-foreground: oklch(0.205 0 0);
  --nav-border: oklch(0.922 0 0);
}

.dark {
  --background: oklch(23.075% 0 89.876);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --accent: oklch(60.661% 0.21 33.781);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);

  /* NAVIGATION */
  --nav-background: oklch(0.205 0 0);
  --nav-foreground: oklch(255 0 0);
  --nav-primary: oklch(0.488 0.243 264.376);
  --nav-primary-foreground: oklch(0.985 0 0);
  --nav-accent: oklch(0.269 0 0);
  --nav-accent-foreground: oklch(0.985 0 0);
  --nav-border: oklch(1 0 0 / 10%);
}

@theme inline {
  --color-dark: var(--bg-dark);
  --color-light: var(--bg-light);

  --font-syne: "Syne", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", serif;
  --font-nippo: "Nippo", "sans-serif";
  --font-robo: "Robo", "sans-serif";

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #ece9e1;
  --color-accent: #e43c13;
  --color-dark: #181818;
  --color-light: oklch(82.915% 0.003 197.087);

  --color-100: oklch(99.5% 0 89.876);
  --color-200: oklch(99.457% 0 67.803);
  --color-300: oklch(99.239% 0.001 106.448);
  --color-400: oklch(98.79% 0.002 91.446);
  --color-500: oklch(98.129% 0.004 84.566);
  --color-600: oklch(97.206% 0.006 88.643);
  --color-700: oklch(96.276% 0.008 91.484);
  --color-800: oklch(94.923% 0.009 93.572);
  --color-800: oklch(93.414% 0.011 89.725);
  --color-900: oklch(67.98% 0.009 84.577);
  --color-1000: oklch(46.145% 0.007 88.665);
  --color-1100: oklch(28.351% 0.005 95.162);
  --color-1200: oklch(14.462% 0.003 91.511);

  --color-nav-background: var(--nav-background);
  --color-nav-foreground: var(--nav-foreground);
  --color-nav-primary: var(--nav-primary);
  --color-nav-primary-foreground: var(--nav-primary-foreground);
  --color-nav-accent: var(--nav-accent);
  --color-nav-accent-foreground: var(--nav-accent-foreground);
  --color-nav-border: var(--nav-border);

  --ease-fluid: cubic-bezier(0.7, 0, 0.2, 1);
}

body {
  @apply bg-background transition-colors duration-300 ease-in-out;
}

.grain {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.grain:after {
  animation: grain 10s steps(10) infinite;
  background-image: url(../grain.webp);
  content: "";
  height: 400vh;
  left: -200vw;
  position: fixed;
  top: -200vh;
  width: 400vw;
  opacity: 0.4;
}

/* Theme transition overlay animation */
.theme-transition-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: var(--color-dark);
  z-index: 9999; /* Increased to ensure it's above all content */
  animation: slide-up 0.6s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  pointer-events: none;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* MENU BUTTON */
.nav-wrapper {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}

.nav-wrapper.open {
  transform: rotate(-45deg);
}

.line-menu {
  width: 100%;
  @apply bg-900 group-hover/button:bg-dark !h-1;
  @apply dark:bg-primary dark:group-hover/button:bg-primary;
  @apply transition-colors duration-300 !rounded-full;
}

.line-menu:nth-child(1) {
  transition: transform 800ms cubic-bezier(0.43, 0.43, 0.46, 0.81);
  transform-origin: right;
}
.line-menu:nth-child(3) {
  align-self: flex-end;
  transition: transform 800ms cubic-bezier(0.43, 0.43, 0.46, 0.81);
  transform-origin: left;
}

.open .line-menu:nth-child(1) {
  transform: rotate(-90deg) translateX(2px);
  transition: transform 800ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .line-menu:nth-child(3) {
  transform: rotate(-90deg) translateX(-2px);
  transition: transform 800ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .line-menu {
  @apply bg-light group-hover/button:bg-dark;
  @apply dark:bg-dark group-hover/button:dark:bg-accent;
  @apply transition-colors duration-300;
}

@utility font-var {
  font-variation-settings: "wght" 740, "wdth" 30.5, "opsz" 114.9, "XOPQ" 88,
    "YOPQ" 77, "XTRA" 504;
}

.mask {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
.mask-squircle {
  mask-image: url("data:image/svg+xml,%3csvg width='200' height='200' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0Z'/%3e%3c/svg%3e");
}

.char {
  display: inline-block;
}

.char-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 0.8;
}
